// colors
$lightBlue : #F7FAFF;
$primaryPurple : #6271DD;
$darkGray : #8A8B92 ;
$lightGray :#F6F6F6;
$green : #009136;
$red : #E74040;
$shadow:  0 4px 10px rgba(0, 0, 0, 0.1) ;
// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');
//
.btn-primary {
  background-color: $primaryPurple;
  color: white;
  border: none;
  outline: none;
  &:hover {
    background-color: #3b4de3;
  }
  &:active {
    all:revert;
  }
}
input, select{
  background-color: $lightGray;
  border-radius: .3rem !important;
  padding: .3rem .5rem;
  border: none;
  outline: none;
  width: 100%;
  accent-color: $primaryPurple;
  &:focus, &:focus-within {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}