@import "variables";
@import "navbar";

body {
  width: 100%;
}
.left {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 93vh;
  padding: 1rem .5rem;
  background-color: $lightBlue;
  div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    .img {
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      border: 5px solid white;
      img {
        width: 120%;
        max-width: none;
      }
    }
    h6 {
      font-size: 1.5rem;
      color: $primaryPurple;
    }
    a {
      width: 100% ;
      background-color: $red;
    }
  }
}
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  .input-group{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
    border-radius: .3rem;
    input {
      background-color: $lightGray !important;
      border: 1px solid $primaryPurple;
      border-radius: .3rem 0 0 .3rem !important;
    }
    button {
      background-color: $lightGray;
      border: none;
      &:hover {
        background-color: $primaryPurple;
      }
      &:active , &:focus {
        box-shadow: none !important;
      }
      &.clicked {
        border-bottom: 1px solid $primaryPurple;
        border-top: 1px solid $primaryPurple;
        border-right: 1px solid $primaryPurple;
        background-color: $primaryPurple;
        color: white;
      }
    }
  }
  form {
    width: 100%;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  div:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}
input[disabled] {
  background-color: $lightGray !important;
  border: none !important;
}
h3 {
  color: $primaryPurple !important;
}
.btn-outline-danger {
  color: $red;
  border-color: $red;
  &:hover {
    background-color: $red;
    color: white;
  }
}
input:not([type=submit]) {
  background-color: #F6F6F6 !important;
  border-radius: 0.3rem !important;
  padding: 1rem !important;
  height: 3rem !important;
  border: none;
  width: 100%;
}
input:not([type=submit]):focus {
  background-color: white !important;
  border: 1px solid #6271DD !important;
}
input:not([type=submit]):focus ~ label {
  color: #6271DD !important;
  background-color: white;
}